#content {
  font-size:18px;
  text-align: center;
  color:white;
  font-family:Arial;
}
#field{
    width:287px;
    height:300px;
    background-color: #3f29ef;
    border-radius: 10px;
    margin: auto;
}
#page{
    width: 300px;
    background-color:cornflowerblue;
}
.flash{
   box-shadow: inset 0 0 10px;
}
.cell{
  width:35px;
  height:35px;
  border-radius: 20px;
    margin: 3px;
    float: left;
}
.available{
  background-color: #ffffff;
  cursor:pointer;
}
.na{
  background-color: #b4afaf;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.button {
    background-color: #4076d6;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
.result{
    text-align:center;
    font-size:32px;
    color:white;
    font-family:Arial;
}